@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i|Work+Sans:400,600,700,800&display=swap');

.container {
    width: 100%;
    padding: 0 6%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

h1 {
    font-family: 'Space mono', sans-serif;
    font-size: 124px;
    font-weight: bold;
    color: black;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: black;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 28px 0;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4em;
}

.container .content {
    width: 80%;
    padding-top: 6%;
}

.container .content p {
    margin-top: 14px;
}

.container .content .blockOpen {
    margin-top: 52px;
}

.container .content .blockClose {
    margin-bottom: 52px;
}

.container .content h2 {
    margin-top: 36px;
}

.container .content footer {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10% 0;
}

.container .content footer .logoC {
    margin-right: 24px;
}

.container .content footer a {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.container .navegation {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    padding: 6% 0 6% 8%;
    top: 0;
    align-items: center;
}

.container .navegation .menu nav a {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4em;
    text-decoration: none;
    color: black;
}

.container .navegation .menu nav a:hover {
color: red;
pointer-events: visible;
}

.container .navegation .hamburguer .circ {
    background-color: black;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    margin-top: 5px;
}

.container .navegation .hamburguer .circ {
    display: none;
}

.container .content p span a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0 0 5px 0;
    color: red;
}
  
.container .content p span a:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    visibility: hidden;
    background-color: red;
    -webkit-transition: all .1s ease;
    transition: all 0.3s ease;  
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}
  
.container .content p span a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.mobileOnly {
    display: none;
}

/* Small screens */

@media (max-width: 500px) {

    .container {
        width: 100%;
        padding: 0 6%;
        display: flex;
        position: relative;
        justify-content: space-between;
    }
    
    h1 {
        font-size: 52px;
        }
    
    h3 {
        font-size: 24px;
        margin: 28px 0;
    }
    
    p {
        font-size: 18px;
    }

    .container .content {
        width: 80%;
        padding-top: 6%;
    }
    
    .container .content p {
        margin-top: 28px;
    }
    
    .container .content footer {
        display: flex;
        position: relative;
        align-items: center;
        padding: 10% 0;
    }
    
    .container .content footer .logoC {
        margin-right: 24px;
    }
    
    .container .content footer a {
        text-decoration: none;
        font-family: 'Work Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: black;
    }
    
    .container .navegation {
        width: 20%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: sticky;
        padding: 6% 0 6% 8%;
        top: 0;
        align-items: center;
    }
    
    .container .navegation .hamburguer {
        margin-bottom: 24px;
    }

    .container .navegation .hamburguer .circ {
        background-color: black;
        width: 8px;
        height: 8px;
        border-radius: 100px;
        margin-top: 5px;
    }

    .container .navegation .menu nav {
        display: none;
    }

    .mobileOnly {
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        z-index: 1;
        color: black;
        display: none;
        margin-left: -6%;
    }

    .mobileOnly .btClose {
        position: absolute;
        top: 6%;
        right: 6%;
        z-index: 1;
      }

    .mobileOnly ul {
        width: 100%;
        height: 70vh;
        background: white;
        padding: 12% 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateY(-70vh);
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .mobileOnly ul.mostrar {
        transform: translateY(0vh);
      }

    .mobileOnly ul li a {
        font-family: 'Work Sans', sans-serif;
        font-size: 42px;
        font-weight: 700;
        line-height: 1.4em;
        text-decoration: none;
        color: black;
      }

      .container .navegation .hamburguer .circ {
        display: block;
    }

}